.toc {
    background-color: #F7F7F7;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
    border-radius: 3px;
}

.toc-title {
    color: #888;
    font-size: 14px;
    line-height: 1.6;
    padding: 2px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 3px;
}

.toc ul {
    padding-left: 10px;
    margin: 0;
}

.toc > ul {
    margin-left: 10px;
    font-size: 17px;
}

.toc ul ul {
    font-size: 15px;
}

.toc ul ul ul {
    font-size: 14px;
}

.toc ul li {
    margin: 0;
}

#header-content .toc,
#footer-content .toc,
#sidebar-content .toc {
    border: none;
}
